.lianjie {
    position: relative;
    margin: 0 auto;
    width: 1180px;
    background-color: pink;
}

.chearfix:after,
.chearfix:before {
    content: "";
    display: table;
}

.chearfix:after {
    clear: both;
}

.chearfix {
    *zoom: 1
}
